<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
         .footer {
        background-color:  rgb(34, 24, 24);
        color: white;
        padding: 1rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ddd;
        position: absolute; /* Ensures the footer stays at the bottom */
        bottom: 0;
      }
    </style>
</head>
<body>

    <div class="footer">
        &copy; 2024 Ecommerce Admin Panel. All rights reserved to Deepak Kumar.
      </div>
    
</body>
</html>