<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        
        .Navbar {
        background-color:  rgb(34, 24, 24);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        height: 10% ;
        width: 100%;
        z-index: 10;
      }

      .Navbar h1 {
        margin: 0;
        font-size: 1.5rem;
        color: white;
      }

      .Navbar h1:first-of-type {
        margin-left: 10%; /* Ensure no margin on the left side for the first h1 */
      }

      .Navbar h1:last-of-type {
        margin-right: 8%; /* Ensure no margin on the right side for the second h1 */
      }
    
    </style>
</head>
<body>
    <div class="Navbar">
        <h1>Ecommerce | Admin</h1>
        <h1>Admin</h1>
      </div>
    
</body>
</html>